@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');

body {
  font-family: 'Caveat', cursive;
  font-family: 'Permanent Marker', cursive;
}

[type="checkbox"]:checked + .task {
  text-decoration: line-through;
}
